//====================================================================================================

//====================================================================================================
.mainpage { 
	&__body{
		position: relative;
		&::before{
			content:'';
			top: -50px;
			height: 14908px;
			position: absolute;
			
			right: 50%;
			width: 1920px;
			transform: translate(50%, 0px);
			background: url('../img/wave-element.svg') 0 0 / 100% no-repeat;
			// position: relative;
		}
	}

	// .mainpage__slider
	&__slider {
	}

	// .mainpage__about
	&__about {
	}
}


@media (max-width:$tablet){
		
	.touch .main-slider[data-fullscreen]{
		min-height: 0;
	}
}

.main-slider {
	@include adaptiveValue("padding-top", 185, 80);
	@include adaptiveValue("padding-bottom", 70, 30);
	// background-color: #0c0b08;
	display: flex;
	

	// .main-slider__container
	&__container {
		&:not(.main-slider__container_wide){
			padding: 0;
		}
		// .main-slider__container_wide
		&_wide {
			flex: 1 1 auto;
			position: relative;
			min-width: 0;
			
		}
	}

	// .main-slider__menu

	&__menu {
	}

	// .main-slider__scroll
	&__scroll {
		
		@media (min-width:em(1445)){
			position: absolute;
			bottom: 0;
			right: rem(15);
		}
		@media (max-width:em(1445)){
			display: block;
			padding-top: rem(15);
			&::before{
				content:'';
				display: none;
			}
		}
		@media (max-width:$tablet){
			display: none;
		}
	}
}
.body-main-slider {


	@media (min-width:$tablet){
		height: 100%;
		// min-height: 300px;
		display: flex;
		flex-direction: column;
	}

	&.swiper{
		overflow: visible;
	}
	// .body-main-slider__swiper
	&__swiper {
		flex: 1 1 auto;
		align-items: center;
		
	}

	// .body-main-slider__slide
	&__slide {
		// min-height: 300px;
		
		@media (min-width:$tablet){
			height: 100%;
		}
	}

	&__controll{
		display: flex;
		gap: 8px;
		justify-content: center;
		align-items: center;
		text-transform: capitalize;
		
		@media (min-width:$tablet){
			padding-top: rem(88);
		}
		@media (max-width:em(1445)) and (min-width:$tablet){
			padding-top: rem(15);
		}
		@extend %cor_semibold;

	
		.swiper-pagination-bullet{
			font-size: rem(22);
			
			letter-spacing: 0.04em;
			color: #fff;
			line-height: 175%;
			transition: gap 0.7s ease 0s;
			display: flex;
			gap: 0px;
			align-items: center;
			&::before{
				content:'';
				width: 0;
				transition: all 0.7s ease 0s;
				background: #dcca87;
				height: 1px;
				flex: 0 0 0px;
			}
		}
		.swiper-pagination-bullet-active{
			gap: 8px;
			&::before{
				content: '';
				width: 12px;
				flex: 0 0 12px;
			}
		}
	}
}
.slide-main-slider {
	
	
	// .slide-main-slider__content
	opacity: 0 !important;
	padding: 25px 0px 0px 0px;
	pointer-events: none;
	
	gap: 30px;
	@media (max-width:em(1445)){
		padding: rem(40) 0 rem(30) 0;
	}
	@media (min-width:$tablet){
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		
	}
	&.swiper-slide-active {
		pointer-events: auto;
		opacity: 1 !important;
	}

	&__content {
		align-self: center;
		display: grid;
		gap: 32px;
		
		justify-items: start;
		@media (min-width:$tablet){
			max-width: rem(500);
			padding-right: rem(40);
			
		}
		@media (max-width:$tablet){
			&:not(:last-child) {
				margin-bottom: rem(50);
			}
			
		}
		@media (max-width:$mobile){
			justify-items: stretch;
		}
	}

	// .slide-main-slider__header
	&__header {
	}

	// .slide-main-slider__text

	&__text {
	}

	// .slide-main-slider__button
	&__button {
		
	}

	// .slide-main-slider__image
	&__image-ibg {
		position: relative;
		align-self: center;
		padding-bottom: percent(619, 688);
		@media (min-width:$tablet){
			max-height: 736px;
			height: 100%;
			margin-right: percent(25, 650);
			
		}
		@media (max-width:$tablet){
			margin: 0px rem(math.div($containerPadding, -2));
			display: block;
		}
		&::before,&::after{
			content:'';
			position: absolute;
			background-color: $mainYellow;
			transition: transform 0.3s ease 0s;
			width: percent(435,619);
			height: percent(435,688);
			@media (max-width:$tablet){
				display: none;
			}
		}
		&::before{
			transform: translate(25px, -25px);
			top: 0;
			right: 0;
		}
		&::after{
			left: 0;
			bottom: 0;
			transform: translate(-25px, 25px);
		}
		img{
			transition: transform 0.3s ease 0s;
			z-index: 2
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					transform: translate(30px, -30px);
				}
				&::after {
					transform: translate(-30px, 30px);
				}
				img {
					transform: scale(1.05);
				}
			}
		}
	}
	
}
.block-header {

	// .block-header__sub-title
	&__sub-title {
	}

	// .block-header__title
	&__title {
	}

	// // .block-header_big
	// &_big {
	// 	.block-header__title{
	// 		@include adaptiveValue("font-size", 90, 90);
	// 	}
	// }

	// // .block-header_left
	// &_left {
	// 	justify-items: stretch;
	// 	.block-header__sub-title{
	// 		justify-items: stretch;
	// 	}
	// }
}
.menu-main-slider {

	gap: rem(40);
	display: flex;
	position: absolute;
	top: 0;
	left: rem(15);
	@media (min-width:em(1445)){
		align-items: center;
		justify-content: center;
		flex-direction:column;
		height: 100%;
	}
	// .menu-main-slider__link
	&__link {
		letter-spacing: 0.04em;
		font-size: rem(18);
		line-height: 175%;
		color: $mainWhite;
		transition: color 0.3s ease 0s;
		@media (min-width:em(1445)){
			writing-mode: vertical-lr;
			transform: rotate(-180deg);
		}
		@media (any-hover: hover){
			&:hover{
				color: $mainYellow;
			}
		}
		&_current{
			color: $mainYellow;
		}
	}
}








//           SLAIDER SWIPER part of css
.swiper {
	overflow: hidden;
}
.swiper-wrapper {
	width: 100%;
	height: 100%;
	box-sizing: content-box;
	display: flex;
	position: relative;
}
.swiper-vertical {
	.swiper-wrapper {
		flex-direction: column;
	}
}
.swiper-autoheight {
	.swiper-wrapper {
		align-items: flex-start;
	}
}
.swiper-initialized {
	.swiper-slide {
		flex-shrink: 0;
		// transition-property: transform;
	}
}
.swiper-android {
	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}
.swiper-button-lock {
	display: none !important;
}










.about-section {
	@include adaptiveValue("padding-top", 128, 40);
	@include adaptiveValue("padding-bottom", 128, 40);
	position: relative;
	&::after{
		content:'G';
		@extend %cor_bold;
		
		@include adaptiveValue("font-size", 650, 500);
		color: rgba(39, 39, 39, 0.6);
		position: absolute;
		left: 50%;
		top: 50%;
		
		transform: translate(-50%, -50%);
	}
	// .about-section__container
	&__container {
		
		position: relative;
		z-index: 2;
		
		@media (min-width:$mobile){
			align-items: center;
			display: flex;
		}
	}

	// .about-section__content
	&__content {
		display: grid;
		gap: 32px;
		align-content: start;
		justify-items: start;
		&:first-child{
			.about-section__title {
			}
			@media (min-width:$mobile){
				justify-items: end;
				text-align: right;
				.about-section__title{
					justify-items: end;
					&::after {
						transform: rotate(-180deg);
					}
				}
			}
		}

		@media (max-width:$mobile){
			text-align: center;
			justify-items: center;
			align-items: center;
			&:not(:last-child) {
				margin-bottom: rem(30);
			}
			.about-section__title{
				justify-items: center;
				
			}
		}
	}

	// .about-section__title
	&__title {
		@include adaptiveValue("font-size", 64, 40, 1330, 768, 1);
		display: grid;
		gap: 8px;
		color: $mainYellow;
		line-height: 130%;
		letter-spacing: 0.04em;
		@extend %cor_semibold;
		
		&::after{
			content: "";
			@extend %ic;
			// display: block;
			color: $mainYellow;
			width: 40px;
			height: 10px;
			background: url('../img/iconsfont/spoon.svg') 0 0 no-repeat;
			font-size: em(9, 64);
		}
	}

	// .about-section__text
	&__text {
		@media (min-width:$mobile){
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 3;
			overflow: hidden;
		}
	}

	// .about-section__knife
	&__knife {
		flex: 0 0 percent(255, 1330);
		padding: 0px rem(15);
		text-align: center;
		img{
			max-width: 100%;
		}
		@media (max-width:$mobile){
			display: none;
		}
	}
	
}






.book {
	@include adaptiveValue("padding-top", 150, 0);
	@include adaptiveValue("padding-bottom", 150, 0);
	position: relative;
	
	// .book__container
	&__container {
		&[data-decor]{
			&::before{
				content:'';
				position: absolute;
				top: rem(-150);
				right: rem(-150);
				@media (max-width:$pc){
					display: none;
				}
			}
		}
	}

	// .book__body
	&__body {
		@media (min-width: em(1390)){
			margin: 0 rem(-32);
		}
		padding: 0px rem(32);
		background: #0c0c0c;
		@include adaptiveValue("padding-top", 48, 40);
		@include adaptiveValue("padding-bottom", 48, 40);
		border: 1px solid rgba(220, 202, 135, 0.2);
		box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
		@media (max-width:$tablet){
			border-left: none;
			border-right: none;
			margin: 0 rem(-15);
		}
	}

	// .book__header
	&__header {
	}

	// .book__form
	&__form {
		text-align: center;
	}

	// .book__button
	&__button {
	}
}
.block-header {

	// .block-header__sub-title
	&__sub-title {
	}

	// .block-header__title
	&__title {
	}
}
.form-book {

	// .form-book__lines
	&__lines {
		@include adaptiveValue("padding-top", 64, 20);
		@include adaptiveValue("padding-bottom", 64, 20);
		display: grid;
		
		gap: 32px;
		@media (min-width:$tablet){
			grid-template-columns: repeat(3, 1fr);
		}
	}

	// .form-book__line
	&__line {
	}

	&__input {
		position: relative;
		&::before{
			position: absolute;
			right: 16px;
			top: 50%;
			transform: translateY(-50%);
			height: 100%;
			font-size: rem(10);
			content: "";
			transition: all 0.3s ease 0s;
			
			background: url('../img/iconsfont/select-arrow.svg') 0 0 no-repeat;
			width: 18px;
			height: 10px;
			// font-size: rem(13);
			// align-self: stretch;
			// flex: 0 0 18px;
			transition: all 0.3s ease 0s;
			// display: flex;
			// justify-content: center;
			// align-items: center;
			
		}
		&._form-focus{
			&::before{
				transform: translate(0, -50%) rotate(-180deg);
				
			}
		}
	}
}







.menu-block {
	overflow: hidden;
	position: relative;
	&__bg{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width:$tablet){
			img {
				opacity: 0.5;
			}
		}
	}
	&__container {

		// .menu-block__container_wide
		&_wide {
			position: relative;
			&::before{
				content:'';
				position: absolute;
				left: 0;
				top: 0;
				@media (max-width: em(1024)){
					display: none;
				}
			}
		}
	}

	// .menu-block__menu
	&__menu {
		@include adaptiveValue("padding-top", 260, 40);
		@include adaptiveValue("padding-bottom", 260, 40);
	}

	// .menu-block__list
	&__list {
		display: grid;
		@include adaptiveValue("gap", 65, 20);
		@media (max-width:$tablet){
			justify-content: center;
		}
	}

	// .menu-block__item
	&__item {
	}

	// .menu-block__link
	&__link {
		@extend %cor_semibold;
		@include adaptiveValue("font-size", 64, 30);
		line-height: 130%;
		letter-spacing: 0.03em;
		border-bottom: 1px solid #fff;
		color: #fff;
		@media (any-hover: hover){
			&:hover{
				border-bottom: 1px solid transparent;
			}
		}
	}
}










.special {
	@include adaptiveValue("padding-top", 150, 40);
	@include adaptiveValue("padding-bottom", 150, 40);
	// .special__container
	&__container {
		display: grid;
		@include adaptiveValue("gap",65, 30);
	}

	// .special__header
	&__header {
		
	}

	// .special__body
	&__body {
		display: grid;
		align-items: start;
		gap: 32px;
		@media (min-width:$mobile){
			grid-template-columns: repeat(3, 1fr);
		}
		@media (max-width:$tablet) and (min-width: $mobile){
			grid-template-columns: repeat(2, 1fr);
		}
	}
	&__button{
		justify-self: center;
	}

	// .special__table
	&__table {
		
	}

	// .special__image
	&__image {
		img{
			max-width: 100%;
		}
		@media (max-width:$tablet){
			display: none;
		}
	}
	
}
.block-header {

	// .block-header__sub-title
	&__sub-title {
	}

	// .block-header__title
	&__title {
	}
}
.table-special {

	// .table-special__title
	&__title {
		text-align: center;
		color: #fff;
		@extend %cor_semibold;
		@include adaptiveValue("font-size", 45, 35);
		line-height: 130%;
		&:not(:last-child) {
			margin-bottom: em(48, 45);
		}
	}

	// .table-special__body
	&__body {
		display: grid;
		@include adaptiveValue("gap", 40, 20);
	}

	// .table-special__item
	&__item {
		display: grid;
		gap: 8px;
	}

	// .table-special__header
	&__header {
		display: grid;
		grid-template-columns: 1fr 70px;
		justify-content: space-between;
		@include adaptiveValue("font-size", 23, 18);
		
		> * {
			z-index: 2;
			position: relative;
		}
		@media (min-width:$mobileSmall){
			grid-template-columns: 225px  70px;
			position: relative;
			&::before{
				content:'';
				width: 100%;
				height: 1px;
				background-color: #fff;
				top: 15px;
				left: 0px;
				position: absolute;
			}
		}
	}

	// .table-special__value
	&__value {
		padding: 0px rem(10) 0px 0px;
		line-height: 130%;
		@extend %cor_semibold;
		color: $mainElementYellow;
		@media (min-width:$mobileSmall){
			background-color: $mainColorDark;
		}
	}

	// .table-special__vprice
	&__price {
		text-align: right;
		color: #fff;
		@extend %cor_semibold;
		padding: 0px 0px 0px rem(10);
		@media (min-width:$mobileSmall){
			background-color: $mainColorDark;
		}
	}



	// .table-special__info
	&__info {
		line-height: 170%;
	}
}












.chef {
	@include adaptiveValue("padding-top", 150, 40);
	@include adaptiveValue("padding-bottom", 150, 40);
	// .chef__container
	&__container {
		display: grid;
		row-gap: 30px;
		@media (min-width:$tablet){
			column-gap: 80px;
			grid-template-columns: repeat(2, 1fr);
		}
	}

	// column
	&__column{
		&:first-child{
			text-align: center;
		}
		&:last-child{
			align-self: center;
		}
	}
	// .chef__image
	&__image {
		position: relative;
		display: inline-block;
		&::before,&::after{
			content:'';
			position: absolute;
			background-color: $mainYellow;
			transition: transform 0.3s ease 0s;
			width: percent(435,619);
			height: percent(435,688);
			@media (max-width:$tablet){
				display: none;
			}
		}
		&::before{
			transform: translate(25px, -25px);
			top: 0;
			right: 0;
		}
		&::after{
			left: 0;
			bottom: 0;
			transform: translate(-25px, 25px);
		}
		img {
			max-width: 100%;
			position: relative;
			z-index: 2;
		}
	}

	// .chef__content
	&__content {
		@include adaptiveValue("padding-left", 40, 0);
		display: grid;
		@include adaptiveValue("gap", 60, 40);

	}

	// .chef__header
	&__header {
		
	}

	// .chef__text
	&__text {
		@extend %open_italic;
	}

	// .chef__info
	&__info {
	}
}
.block-header {

	// .block-header_left
	&_left {
	}

	// .block-header__sub-title
	&__sub-title {
	}

	// .block-header__title
	&__title {
	}
}
.info-chef {

	// .info-chef__title
	&__title {
		color: $mainElementYellow;
		@extend %cor_regular;
		font-size: rem(32);
		line-height: 130%;
	}

	// .info-chef__text
	&__text {
	}

	// .info-chef__signature
	&__signature {
	}
}







.video-module {
	position: relative;
	padding-bottom: percent(763, 1920);
	cursor: pointer;
	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
	}
	&::after {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 12px 0 12px 24px;
		border-color: transparent transparent transparent #fff;
	}
	&::before {
		border: 3px solid #dcca87;
		@include adaptiveValue("width", 120, 70);
		@include adaptiveValue("height", 120, 70);
		border-radius: 50%;
	}
	&._active {
		&::before,
		&::after {
			display: none;
		}
		.video-module__item {
			filter: grayscale(0);
		}
	}
	// .video-module__item
	&__item {
		position: absolute;
		@extend %grayfilter;
		object-fit: cover;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}




.gallery {
	@include adaptiveValue("padding-top", 128, 40);
	@include adaptiveValue("padding-bottom", 128, 40);
	position: relative;
	&::before{
		content:'';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 3;
		background-color: rgba(4, 4, 4, 0.1);
	}
	// .gallery__top
	&__top {
	}

	// .gallery__body
	&__body {
		min-width: 0;
	}
	// .gallery__container
	&__container {
		z-index: 5;
		display: grid;
		row-gap: 30px;
		@media (min-width: $tablet) {
			column-gap: rem(64);
			grid-template-columns: rem(490) 1fr;
		}
	}

	// .gallery__content
	&__content {
		align-self: center;
		gap: rem(24);
		display: grid;
	}


	// .gallery__header
	&__header {
	}

	// .gallery__text
	&__text {
	}

	// .gallery__button
	&__button {
		justify-self: start;
	}

	// .gallery__slider
	&__slider {
		&.swiper {
			// overflow: visible;
			margin: 0px -100vw 0px 0px;
		}
	}

	// .gallery__swiper
	&__swiper {
	}

	// .gallery__slide
	&__slide-ibg {
		height: 447px;
		flex: 0 0 300px;
		width: 300px;
		border: 2px solid rgba(220, 202, 135, 0.2);
		position: relative;
		&::before {
			// @extend %ic;
			// @extend ._icon-instagram;
			content: "";
			background: url('../img/iconsfont/instagram.svg') 0 0 no-repeat;
			color: #fff;
			z-index: 6;
			background-size: contain;
			width: rem(43);
			height: rem(43);
			position: absolute;
			left: 50%;
			top: 50%;
			font-size: rem(43);
			opacity: 0;
			transition: all 0.3s ease 0s;
			transform: translate(-50%, -50%);
		}
		&::after {
			content: "";
			opacity: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			transition: all 0.3s ease 0s;
			z-index: 5;
			background: linear-gradient(207.55deg, rgba(0, 0, 0, 0.75) 1.5%, rgba(0, 0, 0, 0.64) 98.62%);
		}
		@media (any-hover: hover) {
			&:hover {
				&::after {
					opacity: 1;
				}
				&::before {
					opacity: 1;
				}
			}
		}
		@media (max-width: $mobileSmall) {
			height: 400px;
			flex: 0 0 250px;
			width: 250px;
		}
	}
}
.block-header {

	// .block-header__sub-title
	&__sub-title {
	}

	// .block-header__title
	&__title {
	}
}



